.icon.cash-opname:before{background-image:url('../icon/fnb/cash.png');width:30px;height:44px;background-size:contain;background-position: center center;background-repeat: no-repeat;content: '';}
.icon.ingredients:before{background-image:url('../icon/fnb/ingred.png');width:30px;height:44px;background-size:contain;background-position: center center;background-repeat: no-repeat;content: '';}

